  {{!-- <h5>Chicago Cubs -- Today's Talk</h5> --}}
<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://www.chicagotribune.com/sports/baseball/cubs/">
    <img src="./assets/tribune.png" width="40" height="40" alt="">
  </a>


  {{!-- <a class="navbar-brand" href="#">Cub Talk!</a> --}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/drop">Drop</a>
      </li>
      <li class="nav-item">
          <a href="/scrape" class="btn btn-primary scrape-btn">Scrape!</a>
      </li>
    </ul>
  </div>
</nav>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./assets/madden.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
        <h5>Talk of the Town!</h5>
        <h6>Check out and chat on the latest headlines from your favorite MLB team thanks to the Chicago Tribune.</h6>
        </div>
    </div><br>
    </div>
<ul>
  {{#each found}}
<div class="card">
  <h4 class="card-header"><span class="label"></span> {{this.headline}}</h4>
  {{!-- <h5 class="card-header">Featured</h5> --}}
  <div class="card-body">
    <p class="card-text"><span class="label"></span> {{this.summary}}</p>
    {{!-- <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
    <a href={{this.link}} class="btn btn-primary">Read Full Article</a>
    <button type="button" class="btn btn-primary chat-btn" data-toggle="modal" data-target=".bd-example-modal-lg">Chat!</button>
  {{!-- modal html --}}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        ...
        </div>
      </div>
    </div>    
    <button type="button" data-id={{this._id}} class="btn btn-primary delete-button">Delete</button>

  </div>
<br>
  {{/each}}
</ul>



<script>
   $(".delete-button").click(function(event) {
        var thisId = $(this).attr("data-id");
           $.ajax("/delete", {
          method: "POST",
          data: { thisId: thisId }
        }).then(
          function() {
          }
        )});

    $.ajax("/", {
      type: "GET",
      data: found
    }).then(
      function() {
        {{!-- location.reload(); --}}
      }
    );

 $(".scrape-btn").click(function(event) {
    event.preventDefault();
    $.ajax("/scrape", {
      type: "GET",
      data: found
    }).then(function() {
        console.log(found);
  })
});



   
</script>
<style>
h6 {
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: 17px;
}
h5 {
    text-shadow: 2px 2px 8px black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 60px;
}
h4 {
  font-family: 'Times New Roman', Times, serif;
  color: black;
};
</style>

